
/* Nav-bar */
.navbar {
  background-color: rgb(87, 62, 96);
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 
.navbar-left img {
  margin-left: 100;
}


.navbar-right {
  list-style: none;
  display: flex;
  gap: 6em;
  margin-right:100px;
  padding: 0;
}

.navbar-right a {
  color: white;
  text-decoration:none;
  font-weight: bold;
  font-size: 1.5em ;
}

.navbar-right a:hover {
  color: #bba9d9;
}

.line {
  color: rgba(255, 255, 255, 0.45);
  text-decoration:none;
  font-weight: bold;
  margin-right: inherit;
}

/* Home Scetion */
.home-card {
  max-width: 1200px;
  margin: 2em auto;
  padding: 1em;
}


.resource-card {
  background-color: rgb(87, 62, 96);
  margin: 1em auto;
  padding: 1.5em ;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.45);
}


.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bio-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(53, 36, 59);
  object-fit: cover;
}

.bio-text h1 {
  margin-bottom: 0.2em;
}

.bio-text h4 {
  margin-top: 0;
  font-weight: normal;
  color: #ccccff;
}


/*Project Section*/
.project {
  display: flex;
  gap: 1.5em;
  align-items: flex-start;
}

.project iframe {
  flex: 2;
  min-width: 320px;
  height: 450px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.reflection {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 1em;
  border-radius: 8px;
}

.reflection h3 {
  margin-top: 0;
  color: #aaaaff;
}

.reflection p {
  font-size: 0.95em;
  color: #dddddd;
}

.bg {
  border: 7px solid rgb(53, 36, 59);
}


/*Contacts Section */

.skill-images {
  display:flex;
  justify-content:center;
  gap: 1.5em;
  margin-top: 1em;
}

.picture {
  transition: transform 0.2s ease;
}

.picture:hover {
  transform: scale(1.05);
}

.link-pic {
  height: 40px;
  width: 40px;
  border-radius: 9px;
  border: 2px solid rgba(255, 255, 255, 0.45);
  object-fit: cover;
  border: 3px solid rgb(53, 36, 59);
}

.contact-card {
  background-color: rgb(87, 62, 96);
  margin: 1em auto;
  padding: .25em ;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.45);
}


/*footer*/
footer {
  text-align: center;
  font-size: 0.85em;
  color: rgba(204, 204, 204, 0.57);
}



