
/* Nav-bar */
.navbar {
  background-color: rgb(87, 62, 96);
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 
.navbar-left img {
  margin-left: 100;
}


.navbar-right {
  list-style: none;
  display: flex;
  gap: 6em;
  margin-right:100px;
  padding: 0;
}

.navbar-right a {
  color: white;
  text-decoration:none;
  font-weight: bold;
  font-size: 1.5em ;
}

.navbar-right a:hover {
  color: #bba9d9;
}

.line {
  color: rgba(255, 255, 255, 0.45);
  text-decoration:none;
  font-weight: bold;
  margin-right: inherit;
}

/* Scetion */
.home-card {
  max-width: 1200px;
  margin: 2em auto;
  padding: 1em;
}


.resource-card {
  background-color: rgb(87, 62, 96);
  margin: 1em auto;
  padding: 1.5em ;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.45);
}


.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bio-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(53, 36, 59);
  object-fit: cover;
}

.bio-text h1 {
  margin-bottom: 0.2em;
}

.bio-text h4 {
  margin-top: 0;
  font-weight: normal;
  color: #ccccff;
}



