
/* Nav-bar */
.navbar {
  background-color: rgb(87, 62, 96);
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 
.navbar-left img {
  margin-left: 100;
}


.navbar-right {
  list-style: none;
  display: flex;
  gap: 6em;
  margin-right:100px;
  padding: 0;
}

.navbar-right a {
  color: white;
  text-decoration:none;
  font-weight: bold;
  font-size: 1.5em ;
}

.navbar-right a:hover {
  color: #bba9d9;
}

.line {
  color: rgba(255, 255, 255, 0.45);
  text-decoration:none;
  font-weight: bold;
  margin-right: inherit;
}
